{% extends "basic.html" %}
{% block head %}
<title>Main Menu</title>
<h1>Main Menu</h1>
{% endblock %}
{% block body %}
<form action = "/story-form/" method="POST">
  Title: <input type="text" name="title"><br>
  <input type = "submit" value = "Create a new story" name="newStory"><br>
</form>
<form action = "/story-menu/" method="POST">
  <input type = "submit" value = "Add to an existing story" name="existingStory"><br>
</form>
<form action="/logout/" method="POST">
  <input type="submit" value="Logout" name="logout"><br>
</form>
<h1> Stories you've contributed to</h1>
<form action="/story-form/" method="POST">
  {% for title in list %}<!--list has titles: entries in the story table where the page number is 1 -->
  
  <input type="submit" value="{{title}}" name="selection"><br>
  {% endfor %}
</form>


{% endblock %}
