{% extends "basic.html" %}
{% block head %}
<title>Story Display: {{title}}</title>
<h1>{{title}}</h1>
{% endblock %}
{% block body %}
{% for chapterdict in list %} <!--chapterdict has a author, timestamp, content. Entries in story table where the title is what was passed through POST, added to list in order based on page number-->
{{chapterdict['author']}}
{{chapterdict['timestamp']}}
<br></br>
{{chapterdict['content']}}
{% endfor %}
<form action="/logout/" method="POST">
  <input type="submit" value="Logout" name="logout"><br>
</form>
{% endblock %}
